<nav>
    <div>
        <a href="/"><h1>Seble Girma</h1></a>
        <p>Senior Software Engineer</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>