<html>
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div class="blog content">
            <h1>Summary</h1>
            <p>Highly-motivated Software Engineer with desire to take on new challenges and learn new skills. Strong work ethic, adaptability and exceptional interpersonal skills. Seamlessly manages workloads and meets challenging deadlines and quality benchmarks. Strong understanding of common web technologies, languages, and frameworks.</p>
        </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>