<html>
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
    
    <div class="blog content">
        <h1>My node.js project</h1>
        <p>this is Index page</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>