<html>
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
    <div class="blog content">
        <h1>Exprience</h1>
        <p></p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>